{% extends 'pixelfy_app/base.html' %}

{% block content %}
    <div id="feed-header">
    </div>

    <div class="container">
    {% for post in posts %}
        <div class="row mb-3">
            <div class="col-sm-2"></div>
            <div class="card col-sm-8">
                <div>
                    <a href="#" class=""><h5 class="card-title">{{post.user}}</h5></a>
                </div>
                <img class="card-img-top max-width: 100% pb-3" src="{{post.original_image.url}}" alt="Card image cap">
                <img class="card-img-top max-width: 100% pb-3" src="{{post.altered_image.url}}" alt="Card image cap">
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
