{% extends 'pixelfy_app/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="feed-header col-8 d-flex justify-content-around">
                <a class="feed" href="{% url 'pixelfy:best' %}"><h5>Most liked</h5></a>
                <a class="feed" href="{% url 'pixelfy:year' %}"><h5>Year</h5></a>
                <a class="feed" href="{% url 'pixelfy:month' %}"><h5>Month</h5></a>
                <a class="feed" href="{% url 'pixelfy:week' %}"><h5>Week</h5></a>
                <a class="feed" href="{% url 'pixelfy:day' %}"><h5>Day</h5></a>
            </div>
        </div>
    {% for post in posts %}
        <div class="row mb-3">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="feed-topper break d-flex justify-content-between">
                    <a href="{% url 'pixelfy:user' user=post.user %}" class=""><h5 class="card-title">{{post.user}}</h5></a>
                     <!-- href="{% url 'pixelfy:like' pk=post.pk %}" -->
                    <a class='like-btn' pk='{{post.pk}}'>
                      <button class="btn">{{post.likes.count}} Likes</button>
                    </a>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img class="img-feed" src="{{post.original_image.url}}" alt="Card image cap">
                    </div>
                    <div class="col-6">
                        <img class="img-feed" src="{{post.altered_image.url}}" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>


{% endblock %}

{% block js_body %}
  <script src="{% static 'js/feed.js' %}"></script>
{% endblock %}
