.js .slider-single > div:nth-child(1n+2) { display: none }

.js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }

.slick-slide.is-active {
	/* border: 2px solid orange; */
	background: yellow;
}

.slider-nav {
    width: auto;
		height: 100px;
		margin-top: 2em;
		/* background-color: rgba(50, 50, 50, .25); */
}


.nav_box {
	/* background-color: dimgray; */
}

.nav_thumbnail {
	margin: auto;
	width: 100%;
	/* max-width: 150px; */
	height: 100px;
	/* padding: .25em; */
}

.main_box {
	width: 500px;
	height: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

.main_img {
	/* width: auto; */
	max-width: 500px;
	height: 600px;
	border: 2px solid white;
	margin: 1em;
}

.main-gallery {
	margin: auto;
}
